### Importing libraries

In [1]:
import requests
import time
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import collections as cl
import json
import codecs
import warnings
import mysql.connector
import warnings

### OMDB API for movie containing the word "blade" and parameters as  "Plot: Short" and "Response: JSON"

In [2]:
blade_url = "http://www.omdbapi.com/?s=blade&apikey=4e414ece&type=movie&plot=short&r=json"

### Connecting to the API and getting data

In [3]:
response = requests.get(blade_url)

### Printing data of the response

In [4]:
print(response.text)

{"Search":[{"Title":"Blade Runner","Year":"1982","imdbID":"tt0083658","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg"},{"Title":"Blade Runner 2049","Year":"2017","imdbID":"tt1856101","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"},{"Title":"Blade","Year":"1998","imdbID":"tt0120611","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg"},{"Title":"Blade II","Year":"2002","imdbID":"tt0187738","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg"},{"Title":"Blade: Trinity","Year":"2004","imdbID":"tt0359013","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg"},{"Title":"Sling Blade","Year":"1996","imdbID":"tt0117666","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg"},{"Title":"Dragon Blade","Year":"2015","imdbID":"tt3672840","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg"},{"Title":"Blade of the Immortal","Year":"2017","imdbID":"tt5084170","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg"},{"Title":"Shinobi: Heart Under Blade","Year":"2005","imdbID":"tt0475723","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg"},{"Title":"Blade Runner: Black Out 2022","Year":"2017","imdbID":"tt7428594","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg"}],"totalResults":"171","Response":"True"}

### Printing the JSON in a pretty format

In [5]:
print(json.dumps(json.loads(response.text), indent=4))

{
    "Search": [
        {
            "Title": "Blade Runner",
            "Year": "1982",
            "imdbID": "tt0083658",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg"
        },
        {
            "Title": "Blade Runner 2049",
            "Year": "2017",
            "imdbID": "tt1856101",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"
        },
        {
            "Title": "Blade",
            "Year": "1998",
            "imdbID": "tt0120611",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg"
        },
        {
            "Title": "Blade II",
            "Year": "2002",
            "imdbID": "tt0187738",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg"
        },
        {
            "Title": "Blade: Trinity",
            "Year": "2004",
            "imdbID": "tt0359013",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg"
        },
        {
            "Title": "Sling Blade",
            "Year": "1996",
            "imdbID": "tt0117666",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg"
        },
        {
            "Title": "Dragon Blade",
            "Year": "2015",
            "imdbID": "tt3672840",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg"
        },
        {
            "Title": "Blade of the Immortal",
            "Year": "2017",
            "imdbID": "tt5084170",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg"
        },
        {
            "Title": "Shinobi: Heart Under Blade",
            "Year": "2005",
            "imdbID": "tt0475723",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg"
        },
        {
            "Title": "Blade Runner: Black Out 2022",
            "Year": "2017",
            "imdbID": "tt7428594",
            "Type": "movie",
            "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg"
        }
    ],
    "totalResults": "171",
    "Response": "True"
}

__Parse the JSON string from above to an internal Python or Java object for further handling. The code then iterates through the search results and prints the imdbID results to the screen.__

### Parsing the data as JSON

In [6]:
parsed = json.loads(response.text)

### Storing only the list of search results

In [7]:
search_results = parsed["Search"]

### For loop to print title and iMDb rating

In [8]:
for x in range(len(search_results)):
    print("Title: "+search_results[x]['Title']+"\nimdbID: "+search_results[x]['imdbID']+"\n")

Title: Blade Runner
imdbID: tt0083658

Title: Blade Runner 2049
imdbID: tt1856101

Title: Blade
imdbID: tt0120611

Title: Blade II
imdbID: tt0187738

Title: Blade: Trinity
imdbID: tt0359013

Title: Sling Blade
imdbID: tt0117666

Title: Dragon Blade
imdbID: tt3672840

Title: Blade of the Immortal
imdbID: tt5084170

Title: Shinobi: Heart Under Blade
imdbID: tt0475723

Title: Blade Runner: Black Out 2022
imdbID: tt7428594

## Saving the data in MySQL

| Variable | Data Type   |
|------|------|
|   imdb_id  | varchar(25)|
|  title  | varchar(100)|
|   year  | int|

### Connecting to the local instance and creating Database called "ucdavis"

In [9]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS ucdavis")

mycursor.close()

mydb.close

### Connecting to the local instance and creating a table called "omdb_test" with columns "imdb_id", "title" and "year"

In [10]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="ucdavis"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS omdb_test (imdb_id VARCHAR(255) PRIMARY KEY NOT NULL, title VARCHAR(255), year int)")

mycursor.close()

mydb.close

### Checking all the tables in the "ucdavis" database

In [11]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="ucdavis"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

mycursor.close()

mydb.close

('omdb_test',)

__Write a program in Python or Java that uses the OMDb API to lookup/search _your_ top 10 choices of movie titles and extract their imdbIDs. Print the movie titles along with their imdbID to the screen. (E.g., search for "Dangal" or "Wolf Warrior 2" and record the imdbID that corresponds to the exact movie you have in mind).__

### Creating a list of the top 10 movies

In [12]:
top_movies = ["Dangal", 
               "Golmaal 3",
               "Housefull",
               "Ek Tha Tiger",
               "Hangover",
               "Tropic Thunder",
               "Gentlemen",
               "Eternal Sunshine of the Spotless Mind",
               "No Country for Old Men",
               "Catch Me if You Can"
             ]

### Creating an empty list to store the imDb IDs of the movies

In [13]:
movies_imdbID = []

### Creating a for loop to iterate through the "top_movies" list and retrieve data for the movie using the omdb API, and saving their imDb ID in "movies_imdbID"

In [14]:
for x in range(len(top_movies)):
    movie_url = "http://www.omdbapi.com/?apikey=4e414ece&type=movie&t="+top_movies[x]
    movie_response = requests.get(movie_url)
    movie_parsed = json.loads(movie_response.text)
    movies_imdbID.append(movie_parsed['imdbID'])

### Printing the imdb IDs

In [15]:
movies_imdbID

['tt5074352',
 'tt1562859',
 'tt1573072',
 'tt2016894',
 'tt1737174',
 'tt0942385',
 'tt2058617',
 'tt0338013',
 'tt0477348',
 'tt0264464']

### Printing the Movie Titles along with imDb IDs

In [16]:
print(pd.DataFrame({'Movie Title':top_movies, 'IMDB ID':movies_imdbID}))

                             Movie Title    IMDB ID
0                                 Dangal  tt5074352
1                              Golmaal 3  tt1562859
2                              Housefull  tt1573072
3                           Ek Tha Tiger  tt2016894
4                               Hangover  tt1737174
5                         Tropic Thunder  tt0942385
6                              Gentlemen  tt2058617
7  Eternal Sunshine of the Spotless Mind  tt0338013
8                 No Country for Old Men  tt0477348
9                    Catch Me if You Can  tt0264464

### For loop to iterate throught the "movies_imdbID" list and using it to print data for the movie related to that imdb ID

In [17]:
for x in range(len(top_movies)):
    movie_url = "http://www.omdbapi.com/?apikey=4e414ece&type=movie&i="+movies_imdbID[x]
    movie_response = requests.get(movie_url)
    movie_parsed = json.loads(movie_response.text)
    print("imDb ID: "+movies_imdbID[x]+"\n"+"Movie Details are:\n"+json.dumps(movie_parsed, indent=4)+"\n\n*******\n")

imDb ID: tt5074352
Movie Details are:
{
    "Title": "Dangal",
    "Year": "2016",
    "Rated": "Not Rated",
    "Released": "21 Dec 2016",
    "Runtime": "161 min",
    "Genre": "Action, Biography, Drama, Sport",
    "Director": "Nitesh Tiwari",
    "Writer": "Piyush Gupta, Shreyas Jain, Nikhil Mehrotra, Rajshri Sudhakar (Dialogue Writer: Telugu), Nitesh Tiwari",
    "Actors": "Aamir Khan, Fatima Sana Shaikh, Sanya Malhotra, Sakshi Tanwar",
    "Plot": "Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.",
    "Language": "Hindi, Tamil, Telugu",
    "Country": "India",
    "Awards": "23 wins & 6 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTQ4MzQzMzM2Nl5BMl5BanBnXkFtZTgwMTQ1NzU3MDI@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.4/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "88%"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "8.4",
    "imdbVotes": "133,098",
    "imdbID": "tt5074352",
    "Type": "movie",
    "DVD": "N/A",
    "BoxOffice": "$12,382,287",
    "Production": "Aamir Khan Productions",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt1562859
Movie Details are:
{
    "Title": "Golmaal 3",
    "Year": "2010",
    "Rated": "Not Rated",
    "Released": "05 Nov 2010",
    "Runtime": "155 min",
    "Genre": "Action, Comedy",
    "Director": "Rohit Shetty",
    "Writer": "Bunty Rathore (additional dialogue), Yunus Sajawal (screenplay), Sajid (dialogue), Farhad Samji (dialogue)",
    "Actors": "Mithun Chakraborty, Ajay Devgn, Kareena Kapoor, Tusshar Kapoor",
    "Plot": "In Goa, Pritam meets his love Geeta after many years. They decide to get married but the feud between their respective children creates tension in their marriage.",
    "Language": "Hindi",
    "Country": "India",
    "Awards": "3 wins & 12 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTllZDJhMTAtMjhmZi00MzBjLTljMmQtMmNlYTAwYmY0Y2Q0XkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "5.4/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "38%"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "5.4",
    "imdbVotes": "6,848",
    "imdbID": "tt1562859",
    "Type": "movie",
    "DVD": "15 Feb 2011",
    "BoxOffice": "$1,132,192",
    "Production": "Eros International",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt1573072
Movie Details are:
{
    "Title": "Housefull",
    "Year": "2010",
    "Rated": "Not Rated",
    "Released": "30 Apr 2010",
    "Runtime": "144 min",
    "Genre": "Comedy",
    "Director": "Sajid Khan",
    "Writer": "Anvita Dutt Guptan (dialogues), Sajid Khan (screenplay), Sajid Nadiadwala (story), Sameer (lyrics), Vibha Singh (screenplay), Milap Zaveri (screenplay)",
    "Actors": "Akshay Kumar, Deepika Padukone, Riteish Deshmukh, Lara Dutta",
    "Plot": "Believing himself to be jinxed, a man attempts to find true love, but instead gets caught in a web of lies.",
    "Language": "Hindi, Gujarati",
    "Country": "India",
    "Awards": "5 wins & 11 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMDlkMmRkM2QtYmZiMi00NWYzLThmMjEtN2IwMTNhMDFkODA0XkEyXkFqcGdeQXVyNjQ2MjQ5NzM@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "5.4/10"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "5.4",
    "imdbVotes": "11,762",
    "imdbID": "tt1573072",
    "Type": "movie",
    "DVD": "19 Oct 2010",
    "BoxOffice": "$642,156",
    "Production": "Eros Entertainment",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt2016894
Movie Details are:
{
    "Title": "Ek Tha Tiger",
    "Year": "2012",
    "Rated": "Not Rated",
    "Released": "15 Aug 2012",
    "Runtime": "132 min",
    "Genre": "Action, Romance, Thriller",
    "Director": "Kabir Khan",
    "Writer": "Aditya Chopra, Kabir Khan (dialogue), Kabir Khan (screenplay), Neelesh Misra (dialogue), Neelesh Misra (screenplay)",
    "Actors": "Salman Khan, Katrina Kaif, Girish Karnad, Roshan Seth",
    "Plot": "India's top spy Tiger and his love Zoya battle the dark world of intelligence and espionage that forbids its soldiers from loving the enemy.",
    "Language": "Hindi, English",
    "Country": "India",
    "Awards": "15 wins & 7 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BZTEyMTlmYTUtMDE0My00NWJmLWJlZmEtNzhjNGI0Mzk0NTA4XkEyXkFqcGdeQXVyNTkzNDQ4ODc@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "5.5/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "69%"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "5.5",
    "imdbVotes": "27,257",
    "imdbID": "tt2016894",
    "Type": "movie",
    "DVD": "N/A",
    "BoxOffice": "$2,437,447",
    "Production": "Yash Raj Films",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt1737174
Movie Details are:
{
    "Title": "Hangover",
    "Year": "2010",
    "Rated": "N/A",
    "Released": "18 Jun 2010",
    "Runtime": "135 min",
    "Genre": "Comedy",
    "Director": "Prabhat Roy",
    "Writer": "Prabhat Roy (story)",
    "Actors": "Sayantika Banerjee, Biplab Chatterjee, Prasenjit Chatterjee, Supriyo Dutta",
    "Plot": "A man with a roving eye battles his midlife crisis.",
    "Language": "Bengali",
    "Country": "India",
    "Awards": "N/A",
    "Poster": "https://m.media-amazon.com/images/M/MV5BZWYwYjE2NWQtZmMwMi00YWVhLTgwOGMtODQ4NDQ2NTA4Y2ZkXkEyXkFqcGdeQXVyNjA3OTI5MjA@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "6.1/10"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "6.1",
    "imdbVotes": "129",
    "imdbID": "tt1737174",
    "Type": "movie",
    "DVD": "N/A",
    "BoxOffice": "N/A",
    "Production": "N/A",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt0942385
Movie Details are:
{
    "Title": "Tropic Thunder",
    "Year": "2008",
    "Rated": "R",
    "Released": "13 Aug 2008",
    "Runtime": "107 min",
    "Genre": "Action, Comedy, War",
    "Director": "Ben Stiller",
    "Writer": "Justin Theroux (screenplay), Ben Stiller (screenplay), Etan Cohen (screenplay), Ben Stiller (story), Justin Theroux (story)",
    "Actors": "Jeff Kahn, Robert Downey Jr., Anthony Ruivivar, Jack Black",
    "Plot": "Through a series of freak occurrences, a group of actors shooting a big-budget war movie are forced to become the soldiers they are portraying.",
    "Language": "English, Mandarin",
    "Country": "USA, UK, Germany",
    "Awards": "Nominated for 1 Oscar. Another 10 wins & 46 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNDE5NjQzMDkzOF5BMl5BanBnXkFtZTcwODI3ODI3MQ@@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.0/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "81%"
        },
        {
            "Source": "Metacritic",
            "Value": "71/100"
        }
    ],
    "Metascore": "71",
    "imdbRating": "7.0",
    "imdbVotes": "360,664",
    "imdbID": "tt0942385",
    "Type": "movie",
    "DVD": "18 Nov 2008",
    "BoxOffice": "$110,416,702",
    "Production": "DreamWorks/Paramount Studios",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt2058617
Movie Details are:
{
    "Title": "Gentlemen",
    "Year": "2014",
    "Rated": "N/A",
    "Released": "05 Dec 2014",
    "Runtime": "141 min",
    "Genre": "Drama, Romance, Thriller",
    "Director": "Mikael Marcimain",
    "Writer": "Klas \u00d6stergren (novel), Klas \u00d6stergren (screenplay), Mikael Marcimain (screenplay in collaboration with)",
    "Actors": "David Dencik, Sverrir Gudnason, David Fukamachi Regnfors, Ruth Vega Fernandez",
    "Plot": "Beaten up, bruised, and scared, a young writer hides in a Stockholm apartment, writing the story of its disappeared inhabitants: the flamboyant and charismatic Morgan brothers.",
    "Language": "Swedish",
    "Country": "Sweden, Norway",
    "Awards": "3 wins & 15 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTAwNjYwNTM4OTdeQTJeQWpwZ15BbWU4MDgyODE1NDMx._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "6.3/10"
        }
    ],
    "Metascore": "N/A",
    "imdbRating": "6.3",
    "imdbVotes": "600",
    "imdbID": "tt2058617",
    "Type": "movie",
    "DVD": "N/A",
    "BoxOffice": "N/A",
    "Production": "N/A",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt0338013
Movie Details are:
{
    "Title": "Eternal Sunshine of the Spotless Mind",
    "Year": "2004",
    "Rated": "R",
    "Released": "19 Mar 2004",
    "Runtime": "108 min",
    "Genre": "Drama, Romance, Sci-Fi",
    "Director": "Michel Gondry",
    "Writer": "Charlie Kaufman (story), Michel Gondry (story), Pierre Bismuth (story), Charlie Kaufman (screenplay)",
    "Actors": "Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood",
    "Plot": "When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.",
    "Language": "English",
    "Country": "USA",
    "Awards": "Won 1 Oscar. Another 72 wins & 110 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTY4NzcwODg3Nl5BMl5BanBnXkFtZTcwNTEwOTMyMw@@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.3/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "93%"
        },
        {
            "Source": "Metacritic",
            "Value": "89/100"
        }
    ],
    "Metascore": "89",
    "imdbRating": "8.3",
    "imdbVotes": "852,730",
    "imdbID": "tt0338013",
    "Type": "movie",
    "DVD": "28 Sep 2004",
    "BoxOffice": "$34,126,138",
    "Production": "Focus Features",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt0477348
Movie Details are:
{
    "Title": "No Country for Old Men",
    "Year": "2007",
    "Rated": "R",
    "Released": "21 Nov 2007",
    "Runtime": "122 min",
    "Genre": "Crime, Drama, Thriller",
    "Director": "Ethan Coen, Joel Coen",
    "Writer": "Joel Coen (screenplay), Ethan Coen (screenplay), Cormac McCarthy (novel)",
    "Actors": "Tommy Lee Jones, Javier Bardem, Josh Brolin, Woody Harrelson",
    "Plot": "Violence and mayhem ensue after a hunter stumbles upon a drug deal gone wrong and more than two million dollars in cash near the Rio Grande.",
    "Language": "English, Spanish",
    "Country": "USA, Mexico",
    "Awards": "Won 4 Oscars. Another 159 wins & 137 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMjA5Njk3MjM4OV5BMl5BanBnXkFtZTcwMTc5MTE1MQ@@._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.1/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "93%"
        },
        {
            "Source": "Metacritic",
            "Value": "91/100"
        }
    ],
    "Metascore": "91",
    "imdbRating": "8.1",
    "imdbVotes": "794,614",
    "imdbID": "tt0477348",
    "Type": "movie",
    "DVD": "07 Apr 2009",
    "BoxOffice": "$74,223,625",
    "Production": "Miramax Films",
    "Website": "N/A",
    "Response": "True"
}

*******

imDb ID: tt0264464
Movie Details are:
{
    "Title": "Catch Me If You Can",
    "Year": "2002",
    "Rated": "PG-13",
    "Released": "25 Dec 2002",
    "Runtime": "141 min",
    "Genre": "Biography, Crime, Drama",
    "Director": "Steven Spielberg",
    "Writer": "Jeff Nathanson (screenplay), Frank Abagnale Jr. (book), Stan Redding (book)",
    "Actors": "Leonardo DiCaprio, Tom Hanks, Christopher Walken, Martin Sheen",
    "Plot": "A seasoned FBI agent pursues Frank Abagnale Jr. who, before his 19th birthday, successfully forged millions of dollars' worth of checks while posing as a Pan Am pilot, a doctor, and a legal prosecutor.",
    "Language": "English, French",
    "Country": "USA, Canada",
    "Awards": "Nominated for 2 Oscars. Another 16 wins & 44 nominations.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTY5MzYzNjc5NV5BMl5BanBnXkFtZTYwNTUyNTc2._V1_SX300.jpg",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.1/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "96%"
        },
        {
            "Source": "Metacritic",
            "Value": "75/100"
        }
    ],
    "Metascore": "75",
    "imdbRating": "8.1",
    "imdbVotes": "755,717",
    "imdbID": "tt0264464",
    "Type": "movie",
    "DVD": "06 May 2003",
    "BoxOffice": "$164,400,000",
    "Production": "DreamWorks SKG",
    "Website": "N/A",
    "Response": "True"
}

*******

### Conneting to MySQL database "ucdavis" and creating a new table "omdb" if it does not exist

In [18]:
mydb = mysql.connector.connect(
host="localhost",
    user="root",
    passwd="",
    database="ucdavis"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS omdb (ID INT AUTO_INCREMENT PRIMARY KEY NOT NULL, title VARCHAR(255),year INT, genre VARCHAR(100), director VARCHAR(100), imdb_rating INT, rotten_tomatoes INT,metacritic INT, plot VARCHAR(1000), box_office VARCHAR(20))")

### Displaying all the tables in the ucdavis database to check whether the omdb database was created or not

In [19]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="ucdavis"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

mycursor.close()

mydb.close

('omdb',)
('omdb_test',)

### Displaying the columns of the table omdb

In [20]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="ucdavis"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW columns FROM omdb")

for x in mycursor:
    print(x)

mycursor.close()

mydb.close()

('ID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(255)', 'YES', '', None, '')
('year', 'int(11)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('director', 'varchar(100)', 'YES', '', None, '')
('imdb_rating', 'int(11)', 'YES', '', None, '')
('rotten_tomatoes', 'int(11)', 'YES', '', None, '')
('metacritic', 'int(11)', 'YES', '', None, '')
('plot', 'varchar(1000)', 'YES', '', None, '')
('box_office', 'varchar(20)', 'YES', '', None, '')

### Creating a function to take the various details to be saved as parameters and inserting them into the omdb table

In [21]:
def insert_movie_details(title, year, genre, director, IMDB_rating, RT_rating, Metacritic_rating, plot, Box_Office):
    query = "INSERT INTO omdb(title,year,genre,director,imdb_rating,rotten_tomatoes,metacritic,plot,box_office) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s);"
    
    values = (title, year, genre, director, IMDB_rating, RT_rating, Metacritic_rating, plot, Box_Office)
    
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="",
            database="ucdavis"
        )
        
        mycursor = mydb.cursor()
        
        mycursor.execute(query, values)
        
        if mycursor.lastrowid:
            print('last insert id', mycursor.lastrowid)
        else:
            print('last insert id not found')
        
        mydb.commit()
    
    except Error as error:
        print(error)
        
    finally:
        mycursor.close()
        mydb.close()

### Collecting the required data on movies using the IMDB ID and inserting it into the omdb table using the insert_movie_details function

In [22]:
for x in range(len(top_movies)):
    movie_url = "http://www.omdbapi.com/?apikey=4e414ece&type=movie&i="+movies_imdbID[x]
    movie_response = requests.get(movie_url)
    movie_parsed = json.loads(movie_response.text)
    movie_title = movie_parsed['Title']
    movie_year = movie_parsed['Year']
    movie_genre = movie_parsed['Genre']

    movie_director = movie_parsed['Director']

    movie_IMDB_rating = str(int(float(movie_parsed['imdbRating'])*10))

    movie_plot = movie_parsed['Plot']

    movie_Box_Office = movie_parsed['BoxOffice']

    Ratings = movie_parsed['Ratings']

    movie_RT_rating = None

    for i,v in enumerate(Ratings):
        if('Rotten Tomatoes' in v['Source']): movie_RT_rating = str(int((v['Value']).rstrip('%')))

    movie_Metacritic_rating = None if("N/A" in movie_parsed['Metascore']) else(str(int(movie_parsed['Metascore'])))
    
    def main():
        insert_movie_details(movie_title, movie_year, movie_genre, movie_director, movie_IMDB_rating, movie_RT_rating, movie_Metacritic_rating, movie_plot, movie_Box_Office)
    
    if __name__ == '__main__':
        main()

last insert id 1
last insert id 2
last insert id 3
last insert id 4
last insert id 5
last insert id 6
last insert id 7
last insert id 8
last insert id 9
last insert id 10

### Printing all the rows from the omdb table to check whether everything was inserted or not

In [23]:
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="ucdavis"
    )
    
    mycursor = mydb.cursor()
    
    mycursor.execute("SELECT * FROM omdb")
    
    saved_data = mycursor.fetchall()
    
    for x in saved_data:
        print(x)
        print("\n")

        
finally:
        mycursor.close()
        mydb.close()

(1, 'Dangal', 2016, 'Action, Biography, Drama, Sport', 'Nitesh Tiwari', 84, 88, None, 'Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.', '$12,382,287')


(2, 'Golmaal 3', 2010, 'Action, Comedy', 'Rohit Shetty', 54, 38, None, 'In Goa, Pritam meets his love Geeta after many years. They decide to get married but the feud between their respective children creates tension in their marriage.', '$1,132,192')


(3, 'Housefull', 2010, 'Comedy', 'Sajid Khan', 54, None, None, 'Believing himself to be jinxed, a man attempts to find true love, but instead gets caught in a web of lies.', '$642,156')


(4, 'Ek Tha Tiger', 2012, 'Action, Romance, Thriller', 'Kabir Khan', 55, 69, None, "India's top spy Tiger and his love Zoya battle the dark world of intelligence and espionage that forbids its soldiers from loving the enemy.", '$2,437,447')


(5, 'Hangover', 2010, 'Comedy', 'Prabhat Roy', 61, None, None, 'A man with a roving eye battles his midlife crisis.', 'N/A')


(6, 'Tropic Thunder', 2008, 'Action, Comedy, War', 'Ben Stiller', 70, 81, 71, 'Through a series of freak occurrences, a group of actors shooting a big-budget war movie are forced to become the soldiers they are portraying.', '$110,416,702')


(7, 'Gentlemen', 2014, 'Drama, Romance, Thriller', 'Mikael Marcimain', 63, None, None, 'Beaten up, bruised, and scared, a young writer hides in a Stockholm apartment, writing the story of its disappeared inhabitants: the flamboyant and charismatic Morgan brothers.', 'N/A')


(8, 'Eternal Sunshine of the Spotless Mind', 2004, 'Drama, Romance, Sci-Fi', 'Michel Gondry', 83, 93, 89, 'When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.', '$34,126,138')


(9, 'No Country for Old Men', 2007, 'Crime, Drama, Thriller', 'Ethan Coen, Joel Coen', 81, 93, 91, 'Violence and mayhem ensue after a hunter stumbles upon a drug deal gone wrong and more than two million dollars in cash near the Rio Grande.', '$74,223,625')


(10, 'Catch Me If You Can', 2002, 'Biography, Crime, Drama', 'Steven Spielberg', 81, 96, 75, "A seasoned FBI agent pursues Frank Abagnale Jr. who, before his 19th birthday, successfully forged millions of dollars' worth of checks while posing as a Pan Am pilot, a doctor, and a legal prosecutor.", '$164,400,000')